<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description"
    content="JD Telecomunicaciones: Te brindamos el mejor servicio de Internet + Cable por FIBRA ÓPTICA, estamos en Cieneguilla y Manchay. Disfruta de INTERNET ILIMITADO." />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Internet por Fibra Óptica | JD Telecomunicaciones</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/JDTelecomunicaciones.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/layout.css" />
  <link rel="stylesheet" href="~/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="./img/jd-logo-azul.png" rel="icon" type="image/png" />
  @await RenderSectionAsync("Styles", required: false)
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z63R74F5K2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z63R74F5K2');
  </script>

</head>


<body>
  <div class="cinta-cyan">

  </div>
  <header>
    <nav id="navbar" class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="~/img/jd-logo-azul.png" alt="logo de jd">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="enlace" asp-controller="Home" asp-action="Index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="enlace" asp-controller="Cobertura" asp-action="Index">Cobertura</a>
          </li>
          <li class="nav-item">
            <a class="enlace" href="#">Sorteos</a>
          </li>
          <li class="nav-item">
            <a class="enlace" asp-controller="Cliente" asp-action="ServicioTecnico">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="enlace" asp-controller="Autentificacion" asp-action="Registrarse">Registrarse</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="cloneContainer"></div>
  </header>


  <main role="main">
    @RenderBody()
  </main>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/index.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>