<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>@ViewData["Title"] - JDTelecomunicaciones</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/JDTelecomunicaciones.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/layout.css" />
  <link rel="stylesheet" href="~/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link href="./img/faviconito.png" rel="icon" type="image/png" />

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z63R74F5K2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-Z63R74F5K2');
</script>

<body>
  <div class="contacto">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contáctenos:</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">947198838 -
      923854963</a>
  </div>
  <header class="sticky-top">

    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow segundo-nav sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="imagen-logo"
            src="/img/logo-jd-blanco.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1 ul-segundo-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#planes">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cobertura">Cobertura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactanos">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <main role="main" class="pb-3">
    @RenderBody()
    <a href="https://wa.me/+51991471172?text=Estimados%20señores%20de%20JDTelecomunicaciones,%0A%0AMe%20gustaría%20obtener%20más%20información%20acerca%20de%20los%20diferentes%20planes%20y%20paquetes%20que%20ofrecen,%20así%20como%20de%20los%20costos%20asociados%20a%20cada%20uno%20de%20ellos.%20Además,%20me%20interesa%20conocer%20los%20detalles%20técnicos,%20tales%20como%20la%20velocidad%20de%20conexión,%20el%20tipo%20de%20tecnología%20que%20utilizan%20y%20si%20ofrecen%20servicios%20de%20soporte%20técnico.%0A%0AAgradezco%20de%20antemano%20su%20atención%20y%20quedo%20a%20la%20espera%20de%20su%20respuesta%20para%20poder%20tomar%20una%20decisión%20informada%20sobre%20mi%20conexión%20a%20internet.%0A%0ASaludos%20cordiales."
      target="_blank" class="whatsapp-button">
      <img src="/img/wsp.png" alt="WhatsApp" />
    </a>
  </main>

  <footer class="border-top footer text-muted">

    <div class="footer-personalizado">
      <div class="logo">
        <img src="~/img/logo-jd-blanco.png" alt="">
      </div>

      <div class="info-bloque">
        <div class="bloque">
          <h3>Menú</h3>
          <a href="#">Planes</a>
          <br>
          <a href="#">Cobertura</a>
          <br>
          <a href="#">Preguntas Frecuentes</a>
          <br>
          <a href="#">Contacto</a>
        </div>
        <div class="bloque">
          <h3>Legal</h3>
          <a href="#">Reclamos</a>
          <br>
          <a href="#">Libro de Reclamaciones</a>
          <br>
          <a href="#">Formas de pago</a>
        </div>
        <div class="bloque">
          <h3>Contáctanos</h3>
          <a href="#">📞 (+51) 991471172</a>
          <br>
          <a href="#">✉ jdcommerce17@gmail.com</a>
        </div>
      </div>

    </div>

    <div class="container">
      &copy; 2023 - JDTelecomunicaciones
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/index.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
