@model MensajeContacto
@{
  ViewData["Title"] = "Sorteos";
}
<div class="sorteos-contenedor">
  <div id="roulette">
    <canvas id="wheelcanvas" width="800" height="800"></canvas>
  </div>

  <form id="formulario-sorteos" class="fondito" method="post" asp-action="ProcessDni" asp-controller="Sorteos">
    <div class="form-group txt-12">
      <label asp-for="NombreCompleto"></label>
      <input asp-for="NombreCompleto" class="form-control" required />
      <span asp-validation-for="NombreCompleto" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 txt-12">
      <label asp-for="DNI"></label>
      <input asp-for="DNI" class="form-control" pattern="^\d{8}$" title="El DNI debe ser de 8 dígitos." required />
      <span asp-validation-for="DNI" class="text-danger"></span>
    </div>
    <div class="form-row row mt-2 txt-12">
      <div class="form-group col-md-6">
        <label asp-for="CorreoElectronico"></label>
        <input asp-for="CorreoElectronico" type="email" class="form-control" required />
        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
      </div>
      <div class="form-group col-md-6 nt-contactanos">
        <label asp-for="NumeroTelefono"></label>
        <input asp-for="NumeroTelefono" class="form-control" pattern="^\d{9}$"
          title="El número de teléfono debe ser de 9 dígitos." required />
        <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-9 txt-13">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="PoliticasPrivacidad" asp-for="PoliticasPrivacidad"
            required>
          <label class="form-check-label" for="PoliticasPrivacidad">He leído y aceptado las políticas de
            privacidad</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="AutorizoPublicidad" asp-for="AutorizoPublicidad">
          <label class="form-check-label" for="AutorizoPublicidad">Autorizo el envío de publicidad e información
            comercial</label>
        </div>
      </div>

      <button type="submit" class="btn btn-enviar col-md-3">Enviar</button>
    </div>

  </form>


  <button onclick="spin(true)">Spin!</button>
</div>
