@{
  ViewData["Title"] = "Sorteos";
}
<div class="sorteos-contenedor">
  <div id="roulette">
    <canvas id="wheelcanvas" width="800" height="800"></canvas>
  </div>
  <button onclick="spin(true)">Spin!</button>
</div>
