@{
  ViewData["Title"] = "Cobertura";
}

<div class="cobertura" id="cobertura">
  <h1>Nuestra zona de corbertura</h1>
  <iframe src="https://www.google.com/maps/d/embed?mid=1bt4MSj3JECmkRa-byJSYNU3lF9tELWo&ehbc=2E312F" width="1000"
    height="500"></iframe>
</div>