@{
  ViewData["Title"] = "Home Page";
}



<div class="container-index text-center">

  <div id="splide" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/img/carousel-1.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="/img/carousel-2.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="/img/carousel-3.jpg" alt="">
        </li>
        <!-- Agrega más slides según sea necesario -->
      </ul>
    </div>
  </div>



  <div class="banda"></div>


  <div class="planes">
    <h1>Nuestros Planes</h1>
    <div class="banda-planes">
      <img src="/img/plan-1.png" alt="">
      <img src="/img/plan-2.png" alt="">
      <img src="/img/plan-3.png" alt="">
    </div>
  </div>
</div>