@model MensajeContacto

@{
  ViewData["Title"] = "Home Page";
}

<div class="container-index text-center">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/carrusel-1.jpg" alt="">
        <div class="btn-1" onclick='sendWsp("Deseo saber más sobre el servicio.")'></div>
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-3.jpg" alt="">
      </div>
      <!-- Agrega más slides según sea necesario -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="banda">
    <h1>Estamos mejorando la página...</h1>
  </div>


  <div class="planes" id="planes">
    <h1>DUOS (Internet + Cable)</h1>
    <br>
    <section class="cards">
      <div class="card plan-20 animated" onclick='sendWsp("Deseo saber más acerca del plan Básico")'></div>
      <div class="card plan-30 animated" onclick='sendWsp("Deseo saber más acerca del plan Estándar")'></div>
      <div class="card plan-50 animated" onclick='sendWsp("Deseo saber más acerca del plan Premium")'></div>
    </section>
    <style class="hover"></style>
    <br>
    <br>
  </div>

  <div class="beneficios">
    <h1>Por qué deberías escogernos</h1>
    <div class="cartas">
      <div class="carta">
        <img src="~/img/beneficios-1.jpg" alt="Tolerancia a fallos">
        <h2>99% Tolerancia a fallos</h2>
        <p>Con nuestro servicio, puedes estar seguro de que tu negocio nunca se detendrá.</p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-2.jpg" alt="Infraestructura">
        <h2>La mejor infraestructura</h2>
        <p>Nuestra infraestructura de vanguardia garantiza que puedas operar con la mayor eficiencia. </p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-3.jpg" alt="Soporte 24/7">
        <h2>Soporte 24/7</h2>
        <p>Nuestro equipo de soporte está disponible las 24 horas del día, los 7 días de la semana.</p>
      </div>
    </div>
  </div>

  <div class="cobertura" id="cobertura">
    <iframe src="https://www.google.com/maps/d/embed?mid=1bt4MSj3JECmkRa-byJSYNU3lF9tELWo&ehbc=2E312F" width="1000"
      height="500"></iframe>
  </div>

  <div class="contactanos" id="contactanos">

    <div class="cascara-contactanos">
      <h2>Deja tus datos y nos contactaremos contigo</h2>
      <div class="bloque-contactanos">
        <img src="~/img/chica-signal-2.png" alt="">
        <form id="formulario-contacto" method="post" asp-action="EnviarFormulario" asp-controller="Home">
          <div class="form-group">
            <label asp-for="DNI"></label>
            <input asp-for="DNI" class="form-control" pattern="^\d{8}$" title="El DNI debe ser de 8 dígitos." />
            <span asp-validation-for="DNI" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="NumeroTelefono"></label>
            <input asp-for="NumeroTelefono" class="form-control" pattern="^\d{9}$"
              title="El número de teléfono debe ser de 9 dígitos." />
            <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="Mensaje"></label>
            <textarea asp-for="Mensaje" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Mensaje" class="text-danger"></span>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>

    </div>

  </div>

</div>
