@model MensajeContacto

@{
  ViewData["Title"] = "Home Page";
}

<div class="container-index text-center">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/carousel-1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-3.jpg" alt="">
      </div>
      <!-- Agrega más slides según sea necesario -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="banda">
    <h1>Estamos mejorando la página...</h1>
  </div>


  <div class="planes" id="planes">
    <h1>DUOS (Internet + Cable)</h1>
    <br>
    <div class="banda-planes">
      <img src="~/img/plancd-1.png" alt="">
      <img src="~/img/plancd-2.png" alt="">
      <img src="~/img/plancd-3.png" alt="">
    </div>
    <br>
    <br>
  </div>

  <div class="beneficios">
    <h1>Escoge un proveedor confiable</h1>
    <div class="cartas">
      <div class="carta">
        <img src="~/img/beneficios-1.jpg" alt="">
        <p>99% Tolerancia a fallos</p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-2.jpg" alt="">
        <p>La mejor infraestructura</p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-3.jpg" alt="">
        <p>Soporte 24/7</p>
      </div>
    </div>

  </div>

  <div class="cobertura" id="cobertura">
    <iframe src="https://www.google.com/maps/d/embed?mid=1bt4MSj3JECmkRa-byJSYNU3lF9tELWo&ehbc=2E312F" width="1000"
      height="500"></iframe>
  </div>

  <div class="contactanos" id="contactanos">

    <div class="cascara-contactanos">
      <h1>Contáctanos</h1>

      <form id="formulario-contacto" method="post" asp-action="EnviarFormulario" asp-controller="Home">
        <div class="form-group">
          <label asp-for="DNI"></label>
          <input asp-for="DNI" class="form-control" pattern="^\d{8}$" title="El DNI debe ser de 8 dígitos." />
          <span asp-validation-for="DNI" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="NumeroTelefono"></label>
          <input asp-for="NumeroTelefono" class="form-control" pattern="^\d{9}$"
            title="El número de teléfono debe ser de 9 dígitos." />
          <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Mensaje"></label>
          <textarea asp-for="Mensaje" class="form-control" rows="5"></textarea>
          <span asp-validation-for="Mensaje" class="text-danger"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

  </div>

</div>
