@{
  ViewData["Title"] = "Home Page";
}



<div class="container-index text-center">

  <div id="splide" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/img/carousel-1.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="/img/carousel-2.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="/img/carousel-3.jpg" alt="">
        </li>
        <!-- Agrega más slides según sea necesario -->
      </ul>
    </div>
  </div>



  <div class="banda"></div>


  <div class="planes">
    <h1>Nuestros Planes</h1>
    <div class="banda-planes">
      <img src="/img/plan-1.png" alt="">
      <img src="/img/plan-2.png" alt="">
      <img src="/img/plan-3.png" alt="">
    </div>
  </div>
  <h1 class="display-4 main-heading">Bienvenidos a JD Telecom</h1>
  <p class="lead main-paragraph">En Raizen Tech, estamos comprometidos en ofrecer soluciones de telecomunicaciones
    innovadoras y de alta calidad para satisfacer las necesidades de nuestros clientes. Nuestra amplia selección de
    productos incluye routers, GPON, ONU y muchos más, todos diseñados para proporcionar una conectividad estable y
    confiable.</p>
  <div class="image-container">
    <img
      src="https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=400"
      alt="Telecom products" class="main-image" />
  </div>


  <h2 class="section-title">Características destacadas</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?fit=crop&w=700&h=700&q=80"
          class="card-img-top" alt="Alta velocidad">
        <div class="card-body">
          <h3 class="card-title">Alta velocidad</h3>
          <p class="card-text">Nuestros productos ofrecen velocidades de conexión ultrarrápidas, permitiendo una
            experiencia de navegación y transferencia de datos sin igual. Con Raizen Tech, siempre estarás conectado al
            ritmo del mundo digital.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="https://images.unsplash.com/photo-1593642532400-2682810df593?fit=crop&w=700&h=700&q=80"
          class="card-img-top" alt="Diseño compacto">
        <div class="card-body">
          <h3 class="card-title">Diseño compacto</h3>
          <p class="card-text">Nuestros dispositivos de telecomunicaciones cuentan con diseños compactos y estilizados,
            adaptándose fácilmente a cualquier espacio y entorno. No sacrifiques el estilo ni la funcionalidad con
            Raizen Tech.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?fit=crop&w=700&h=700&q=80"
          class="card-img-top" alt="Fácil configuración">
        <div class="card-body">
          <h3 class="card-title">Fácil configuración</h3>
          <p class="card-text">Nuestros productos están diseñados pensando en el usuario, ofreciendo una configuración
            rápida y sencilla. En solo unos pasos, tendrás tus dispositivos de telecomunicaciones funcionando a pleno
            rendimiento.</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <h2 class="section-title">Productos más populares</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://consumer.huawei.com/content/dam/huawei-cbg-site/common/mkt/list-image/routers/ax3-quad-core/ax3_pro.png"
          class="card-img-top" alt="Router 1">
        <div class="card-body">
          <h3 class="card-title">Router Huawei</h3>
          <p class="card-text">El Router 1 es ideal para aquellos que buscan una conexión confiable y de alta velocidad.
            Su fácil configuración y diseño compacto lo convierten en la opción perfecta para cualquier hogar o pequeña
            empresa.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://consumer.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/routers/ax2/specs/old-plp.png"
          class="card-img-top" alt="GPON">
        <div class="card-body">
          <h3 class="card-title">GPON</h3>
          <p class="card-text">Nuestro sistema GPON ofrece una solución de acceso óptico de alta capacidad y escalable,
            permitiendo la distribución eficiente de servicios de banda ancha a múltiples usuarios. Es ideal para
            operadores que buscan una infraestructura de red óptima.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://www.nestitsolution.com/wp-content/uploads/2018/09/huawei.png" class="card-img-top" alt="ONU">
        <div class="card-body">
          <h3 class="card-title">ONU</h3>
          <p class="card-text">Nuestra ONU (Unidad de Red Óptica) proporciona una solución de acceso de última milla
            para redes de fibra óptica. Con una configuración sencilla y un diseño compacto, nuestra ONU garantiza una
            conexión estable y de alta velocidad para los suscriptores finales.</p>
        </div>
      </div>
    </div>
  </div>
</div>