@{
  ViewData["Title"] = "Home Page";
}



<div class="container-index text-center">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/carousel-1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/carousel-3.jpg" alt="">
      </div>
      <!-- Agrega más slides según sea necesario -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="banda"></div>


  <div class="planes" id="planes">
    <h1>Nuestros Planes</h1>
    <div class="banda-planes">
      <img src="/img/plan-1.png" alt="">
      <img src="/img/plan-2.png" alt="">
      <img src="/img/plan-3.png" alt="">
    </div>
  </div>

  <div class="beneficios">
    <h1>Escoge un proveedor del cual puedas depender</h1>
    <div class="cartas">
      <div class="carta">
        <img src="~/img/beneficios-1.jpg" alt="">
        <p>99% Tolerancia a fallos</p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-2.jpg" alt="">
        <p>La mejor infraestructura</p>
      </div>
      <div class="carta">
        <img src="~/img/beneficios-3.jpg" alt="">
        <p>Soporte 24/7</p>
      </div>
    </div>

  </div>

  <iframe id="cobertura"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1463.4465584666207!2d-76.8631454723605!3d-12.087010838326602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c1818b4a3bbf%3A0x647aa4b026555379!2sCh%C3%A1vez%20Alto!5e1!3m2!1sen!2spe!4v1682806822478!5m2!1sen!2spe"
    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>