@{
    Layout = "~/Views/Shared/_LayoutAutentificacion.cshtml";
}

<section>
<div class="contenedorL">
      <div class="card primero">
        <div class="contenedorLogo">
        <img src="/img/jd-logo-azul.png" alt="logo" />
        <span>¡EMPIEZA A DISFRUTAR LA MEJOR CONEXIÓN A INTERNET!</span>
        </div>
      </div>
      <div class="card segundo">
          <div class="contenedorI">
              <h1 class="cardH1">Iniciar Sesión</h1>
              <form asp-action="Login" asp-controller="Autentificacion" method="post">
                  
                  <input name="username" placeholder="DNI"/>
                
                  <input name="password" type="password" placeholder="Contraseña"/>
                  <button>Acceder</button>
              </form>
              
              
          </div>
      </div>
    </div>
    </section>

 