.container-index {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 150px;
}

.image-container img {
  width: 600px;
}

.container-index a {
  color: #1e3c72;
}

.section-title {
  margin-bottom: 40px;
}

.feature-box {
  margin-bottom: 30px;
}

.main-heading {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.main-paragraph {
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}


.main-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.banda {
  background-color: #e5e5e5;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banda h1{
  color: #000;
}

.planes {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.planes h1 {
  margin-bottom: 30px;
  color: #1e3c72;
  font-size: 2.5em;
}


.swiper-container{
  width: 100%;
  height: 670px;
  position: relative;
}

.swiper-container img{
  width: 100vw;
  height: 670px;
  object-fit: fill;
}

.swiper-button-next, .swiper-button-prev {
    color: #000 !important; /* Cambia el color según sea necesario */
    background-color: #d5d5d5;
    opacity: 0.4;
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    font-weight: 700;
  }

.swiper-pagination-bullet {
  background-color: #1100ff; /* Cambia el color según sea necesario */
}

.swiper-container .btn-1{
  position: absolute;
  bottom: 7%;
  right: 19%;
  border-radius: 60px;
  opacity: 0;
  cursor: pointer;
  width: 15%;
  height: 10%;
  background-color: #057264;
}

/* Ajustes para pantallas con una anchura máxima de 768px (típicamente dispositivos móviles) */
@media (max-width: 768px) {
  .swiper-container {
    height: 200px;
  }
  .swiper-container img {
    height: 200px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination-bullet {
    display: none !important;
  }
}

.beneficios {
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

.beneficios h1 {
  color: #1e3c72;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.beneficios h2 {
  color: #1e3c72;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

.beneficios p {
  color: #333;
  font-size: 1em;
  text-align: justify;
  padding: 0 20px;
  font-weight: 500;
}

.beneficios img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.beneficios .carta {
  background-color: white;
  width: 300px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e3c72;
  font-weight: 800;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  margin: 30px 50px;
  padding: 20px;
  border-radius: 10px;
}

.beneficios .cartas {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cobertura{
  padding-top: 150px;
}

.cobertura h1{
  margin-bottom: 20px;
}

.contactanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.cascara-contactanos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
  border-radius: 10px;
}

.bloque-contactanos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.bloque-contactanos img{
  width: 300px;
}

.bloque-contactanos form{
  width: 450px;
}

.contactanos .form-group label {
  display: block;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .banda{
    height: 100px;
  }
  .cobertura iframe{
    width: auto;
  }
  .cascara-contactanos{
    width: 300px;
    height: 400px;
  }
  .contactanos{
    width: auto;
  }
  .contactanos img{
    display: none;
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
}
/* pruebas */
:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --charizard1: rgb(208, 230, 149);
  --charizard2: #388d07;
  --charizardfront: url('../img/plancd-1.png');
  --pika1: #82bdf5;
  --pika2: #086aa3;
  --pikafront: url('../img/plancd-2.png');
  --eevee1: #accfc1;
  --eevee2: #057264;
  --eeveefront: url('../img/plancd-3.png');
}

.card {
  width: 250px;
  height: 450px;
  position: relative;
  overflow: hidden;
  margin: 20px 60px;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-image: var(--front);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.plan-20 {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card.plan-30 {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card.plan-50 {
  --color1: var(--eevee1);
  --color2: var(--eevee2);
  --front: var(--eeveefront);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
          animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
          animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
          animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
          animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.card.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before,
.card.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
.cards .card:nth-child(2), .cards .card:nth-child(2):before, .cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.cards .card:nth-child(3), .cards .card:nth-child(3):before, .cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.cards .card:nth-child(4), .cards .card:nth-child(4):before, .cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}