.container-index {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 150px;
}

.image-container img {
  width: 600px;
}

.container-index a {
  color: #1e3c72;
}

.section-title {
  margin-bottom: 40px;
}

.feature-box {
  margin-bottom: 30px;
}

.card {
  border-radius: 15px;
  transition: all ease 0.2s;
}

.card:hover {
  scale: 1.02;
}

.card-img-top {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.card-body {
  background-color: #f5f5f5;
}

.card-text {
  text-align: justify;
  font-size: 15px;
}

.main-heading {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.main-paragraph {
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}


.main-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.banda {
  background-color: #e5e5e5;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banda h1{
  color: #000;
}

.planes {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.planes h1 {
  margin-bottom: 30px;
  color: #1e3c72;
  font-size: 2.5em;
}

.banda-planes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.banda-planes img {
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease-out;
  box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.5);
  border-radius: 10px;
  margin: 10px 40px;
  cursor: pointer;
}

.banda-planes img:hover {
  transform: scale(1.05);
}

.swiper-container{
  width: 100%;
  height: 670px;
  position: relative;
}

.swiper-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: #000 !important; /* Cambia el color según sea necesario */
    background-color: #d5d5d5;
    opacity: 0.4;
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    font-weight: 700;
  }

.swiper-pagination-bullet {
  background-color: #000; /* Cambia el color según sea necesario */
}

/* Ajustes para pantallas con una anchura máxima de 768px (típicamente dispositivos móviles) */
@media (max-width: 768px) {
  .swiper-container {
    height: 200px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
}

.beneficios {
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

.beneficios h1 {
  color: #1e3c72;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.beneficios h2 {
  color: #1e3c72;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

.beneficios p {
  color: #333;
  font-size: 1em;
  text-align: justify;
  padding: 0 20px;
  font-weight: 500;
}

.beneficios img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #1e3c72;
}

.beneficios .carta {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e3c72;
  font-weight: 800;
  box-shadow: 0px 8px 16px 0px rgba(30, 60, 114, 0.4);
  margin: 30px 50px;
  padding: 20px;
  border-radius: 10px;
}

.beneficios .cartas {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cobertura{
  padding: 100px 0;
}



.contactanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cascara-contactanos{
  width: 500px;
}

@media (max-width: 768px) {
  .banda{
    height: 100px;
  }
  .cobertura iframe{
    width: auto;
  }
  .cascara-contactanos{
    width: 300px;
  }
  .contactanos{
    width: auto;
  }
}