.cobertura{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
  margin: 0px 300px;
}

@media (max-width: 768px) {
  .cobertura{
    margin: 0px 10px;
  }
}