.cinta-cyan {
  height: 20px ;
  background-color: #00ffff;
}

.segundo-nav {
  font-family: "montserrat";
  font-weight: 500;
  border: none !important;
  height: 120px;
  z-index: 10 !important;
  font-size: larger;
}

.imagen-logo {
  width: 200px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Distancia desde abajo */
  right: 20px; /* Distancia desde la derecha */
  z-index: 9999; /* Asegura que el botón esté en la parte superior */
  /* Agrega otros estilos según tus preferencias */
}

.whatsapp-button img {
  width: 80px;
}

@media(max-width: 768px){
  .whatsapp-button {
    bottom: 5px !important; /* Distancia desde abajo */
    right: -10px !important; /* Distancia desde la derecha */
  }
  .footer{
    text-align: center;
  }
}

