.contacto {
  display: flex;
  align-items: end;
  justify-content: end ;
  height: 40px ;
  font-family: "poppins";
  font-weight: 400;
}


.contacto a {
  color: #33cc99 !important;
}

.segundo-nav {
  font-family: "poppins";
  font-weight: 400;
  background-color: #0873d4 !important;
  border: none !important;
}

.segundo-nav a {
  color: white !important;
}

.ul-segundo-nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

.ul-segundo-nav li{
  padding: 0 20px;
}

.imagen-logo {
  width: 200px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Distancia desde abajo */
  right: 0px; /* Distancia desde la derecha */
  z-index: 9999; /* Asegura que el botón esté en la parte superior */
  /* Agrega otros estilos según tus preferencias */
}

.whatsapp-button img {
  width: 150px;
}

@media(max-width: 768px){
  .whatsapp-button {
    bottom: 5px !important; /* Distancia desde abajo */
    right: -10px !important; /* Distancia desde la derecha */
  }
  .footer{
    text-align: center;
  }
}

.footer-personalizado{
  background-color: rgb(42, 61, 100);
  display: flex;
  height: 400px;
  border-top: #0873d4 20px solid;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.footer-personalizado img{
  width: 250px;
}

.footer-personalizado .info-bloque{
  color: white;
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.footer-personalizado h3{
  color: white;
}

.footer-personalizado a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  padding: 5px 0;
}
.footer-personalizado a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.5s; /* Ajusta la duración de la animación */
}

.footer-personalizado a:hover::after {
  width: 100%;
}
.footer-personalizado .bloque{
  margin: 0;
  line-height: 35px;
}

@media (max-width:768px){
  .footer-personalizado{
    height: auto;
    flex-direction: column;
    gap: 50px;
    padding: 20px 0;
  }
  .footer-personalizado .info-bloque{
    flex-direction: column;
    gap: 50px;
  }
}