html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
}

* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: auto;
  font-family: "poppins";
  /* font-weight: 900; */
  background-color: #ffffff;
  /* overflow-x: hidden; */
  margin-bottom: -200px;
}