@{
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}

<section>
        <h1>CREAR PROMOCIONES</h1>
        <form>
            <div class="contenedor">
                <div class="card">
                    
                        <label>Nombre de la promocion</label>
                        <input placeholder="ex. Referido , Promocion educativa , Aliado digital"/>
                        <label>Efecto</label>
                        <select>
                            <option>Ninguno</option>
                            <option>Eliminar ultimo recibo</option>
                            <option>Eliminar recibo de instalacion</option>
                        </select>
                    
                </div>
                <div class="card">
                    <label>Imagen de la promocion</label>
                    <img src="/img/wsp.png" alt="Promcion" />
                </div>
            </div>
            <div class="botonB">
                <button>Crear Promocion</button>
            </div>
        </form>
    </section>