@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}

<section>
    <h1>Crear promociones</h1>
    <form>
        <div>
            <div>
                <div>
                    <label>Nombre de la promocion</label>
                    <input placeholder="ex. Referido , Promocion educativa , Aliado digital"/>
                </div>
                <div>
                    <label>Efecto</label>
                    <select>
                        <option>Ninguno</option>
                        <option>Eliminar ultimo recibo</option>
                        <option>Eliminar recibo de instalacion</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Imagen de la promocion</label>
                <img/>
            </div>
        </div>
        <button>Crear Promocion</button>
    </form>
</section>